:root {
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: UbuntuRegular;
    src: url("../assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: UbuntuMedium;
    src: url("../assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
    font-family: UbuntuBold;
    src: url("../assets/fonts/Ubuntu-Bold.ttf");
}

.personal-info-container {
    padding: 15px 95px 15px 55px;
}

.input-form[type="text"] {
    padding: 10px;
}

.title-subtitle-container >h1 {
    color: var(--marine-blue);
    font-size: 1.6rem;
    margin-bottom: 10px;
    font-family: UbuntuBold;
}

.title-subtitle-container >p {
    color: var(--cool-gray);
    font-size: 0.8rem;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: UbuntuRegular;
}

.label-form {
    font-family: UbuntuRegular;
    padding: 10px 0px 5px 0px;
    font-size: 0.7rem;
    color: var(--marine-blue);
}

.input-form {
    font-family: UbuntuMedium;
    height: 40px;
    font-size: 0.8rem;
    color: var(--marine-blue);
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--light-gray);
}

.input-form:focus {
    outline: 1px solid var(--purplish-blue);
}

.input-form::placeholder {
    color: var(--cool-gray);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
    height: 110px;
}

.btn-container-info {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
    height: 110px;
}

a {
    text-decoration: none;
}

.link-go-back-active:hover {
    opacity: 0.9;
    cursor: pointer;
}

.link-go-back-active {
    font-family: UbuntuRegular;
    color: var(--cool-gray);
    font-size: 0.9rem;
    padding: 0px;
    margin: 0px 0px 20px 0px;
}

.link-go-back-desactive {
    display: none;
}

.link-next {
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

.form-submit {
    padding: 5px 20px 5px 20px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--marine-blue);
    background-color: var(--marine-blue);
    color: var(--white);
    font-family: UbuntuRegular;
}

.form-submit:hover {
    cursor: pointer;
    opacity: 0.9;
}

.label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.span-msg {
    display: none;
    font-family: UbuntuRegular;
    padding: 10px 0px 5px 0px;
    font-size: 0.7rem;
}

.error-msg {
    display: flex;
    font-family: UbuntuRegular;
    padding: 10px 0px 5px 0px;
    font-size: 0.7rem;
    color: var(--strawberry-red);
}