* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Poppins;
    src: url(https://fonts.google.com/specimen/Poppins);
    font-weight: 400i, 700i, 800i;
    font-style: normal;
}

body {
    min-height: 100vh;
    background-color: #F0F0F0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
}